@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-secondary: 293, 100%, 98%; /* Background of the top bar */
  --color-bg-primary: 0, 0%, 100%; /* Background of the content area */
  --color-primary-button: 173, 75%, 41%; /* "Add button */
  --color-secondary: 257, 19.8%, 54.5%;
  --color-destructive: 335, 79%, 52%; /* Delete button */
  --color-status-active: 226.6, 100%, 63.9%; /* "Active" status label */
  --color-text-primary: #252525; /* General text color */
  --color-gray: 275, 24%, 90%; /* active nav item bg */
  --color-table-header-bg: 220, 60%, 98%;
  --color-disable-bg: 204, 26.3%, 96.3%;
  --color-disable-border: 210, 36.8%, 85.1%;
  --color-success: 90, 100%, 21.6%;
  --color-purple: 258.8, 63.3%, 59.4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: rgb(var(--color-text-primary)); */
  color: black;
  background-color: hsla(var(--color-bg-primary));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-popup-content {
  background: transparent !important;
}
