@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --paper: 242, 243, 243;
  --card: 255, 255, 255;
  --card-foreground: 90, 103, 110;
  --primary: 37, 194, 122;
  --primary-foreground: var(--card);
  --destructive: 227, 196, 157;
  --gray: 225, 228, 229; */

  --color-bg-secondary: 293, 100%, 98%; /* Background of the top bar */
  --color-bg-primary: 0, 0%, 100%; /* Background of the content area */
  --color-primary-button: 173, 75%, 41%; /* "Add button */
  --color-secondary: 257, 19.8%, 54.5%;
  --color-destructive: 335, 79%, 52%; /* Delete button */
  --color-status-active: #4770ff; /* "Active" status label */
  --color-text-primary: #252525; /* General text color */
  --color-gray: 275, 24%, 90%; /* active nav item bg */
  /* 129,116,162 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: rgb(var(--color-text-primary)); */
  color: black;
  background-color: hsla(var(--color-bg-primary));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-popup-content {
  background: transparent !important;
}
