@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --paper: 245, 246,246;
  --card: 255 ,255, 255;
  --card-foreground: 90, 103, 110;
  --primary: 37, 194, 122;
  --primary-foreground: var(--card)
  --destructive: 227, 196, 157
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.mapboxgl-popup-content {
  background: transparent !important;
}